<h1>Dashboard</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Product:
        <%= @count_products %></td>
      <td>Categories:
        <%= @count_categories %></td>
  </tbody>
</table>
<%= link_to "Redirect to products", "/admin/products" %>
